<main class="page cv-page txt-clr">
    <section class="portfolio-block cv">
        <div class="container">
            <% if (heading[1] == "Completed") { %>
                <div class="work-experience group">
                    <div class="heading mt-5">
                        <h2 class="text-center"><%= heading[0] %> Events <%= heading[1] %></h2>
                    </div>
                    <% if (locals.comingSoon) { %>
                        <div class="item">
                            <div class="row">
                                <div class="col-md-6">
                                    <h3>Coming Soon!!</h3>
                                    <h4 class="organization">this wait is worth your time</h4>
                                </div>
                                <div class="col-md-6"><span class="period">Coming Soon!!</span></div>
                            </div>
                        </div>
                    <% } %>
                    <% for( let index = 0; index < array.length; index++ ) { %>
                        <div class="item">
                            <div class="row">
                                <div class="col-md-6">
                                    <h3><%=array[index].name%></h3>
                                    <h4 class="organization"><%=array[index].status%></h4>
                                </div>
                                <div class="col-md-6"><span class="period" style="color: white;"><%=array[index].time%></span></div>
                            </div>
                        </div>
                    <% } %>
                </div>
            <% } %> 
            <% if (heading[1] == "On Going") { %>
                <div class="education group">
                    <div class="heading mt-5 mb-5">
                        <h2 class="text-center"><%= heading[0] %> Events <%= heading[1] %></h2>
                    </div>
                    <% if (locals.comingSoon) { %>
                        <div class="item" style="margin-bottom: 65%;">
                            <div class="row">
                                <div class="col-md-6">
                                    <h3>Coming Soon!!</h3>
                                    <h4 class="organization">this wait is worth your time</h4>
                                </div>
                                <div class="col-md-6"><span class="period">Coming Soon!!</span></div>
                            </div>
                        </div>
                    <% } %>
                    <% for( let index = 0; index < array.length; index++ ) { %>
                        <div class="item">
                            <div class="row">
                                <div class="col-md-6">
                                    <h3><%=array[index].name%></h3>
                                    <h4 class="organization"><%=array[index].status%></h4>
                                </div>
                                <div class="col-md-6"><span class="period"><%=array[index].time%></span></div>
                            </div>
                        </div>
                    <% } %>
                </div>
            <% } %> 
            
        </div>
    </section>
</main>